h1{
  color: black;
  text-align: left;
  font-family: sans-serif;
}
h2{
  color: orange;
  text-align: center;
}
p {
  font-size: 14px;
}
ul{
  color: black;
}
ol{
  color: #780273;
}
h3{
  color: #780222;
}
p{
  color: black;
}
.important{
  font-family: fantasy;
  font-size: 12px
}
.unimportant{
line-height: 25px
}
.key{
  color: darkblue;
}
img{
  float: left;
}
.vital{
  color: darkgreen;
}
.sidebar {
  width: 10%;
  float: center;
  background-color: yellowgreen;
}
.column {
    width: 150px;
    float: left;
  }
  .sidebar{
    float: right;
  }
  .observe{
    color: red;
  }
