h1{
  color: blue;
  text-align: left;
  font-family: sans-serif;
}
h2{
  color: darkgreen;
  text-align: center;
}
p {
  font-size: 16px;
}
ul{
  color: black;
}
ol{
  color: #780273;
}
h3{
  color: #780222;
}
p{
  color: black;
}
.important{
  font-family: fantasy;
  font-size: 16px
}
.unimportant{
line-height: 25px
}
.key{
  color: darkblue;
}
img{
  float: left;
}
.vital{
  color: darkgreen;
}
.sidebar {
  width: 10%;
  float: center;
  background-color: yellowgreen;
}
.column {
    width: 150px;
    float: right;
  }
  .sidebar{
    float: right;
  }
  .observe{
    color: red;
  }
  .box {
    border: 2px solid red;
    padding: 6px;
    margin: 20px;
    background-color: yellowgreen;
}
.cas p{
  font font-family: inherit;
  font-style: italic;
}
.fin p{
  font-weight: bold;
  color: darkgreen;
}
body{
  background-color: pink;
}
