h1{
  color: blue;
  text-align: left;
  font-family: sans-serif;
}
h2{
  color: orange;
}
p {
  font-size: 20px;
}
ul{
  color: #33FF48;
}
ol{
  color: #780273;
}
h3{
  color: #780222;
}
p{
  color: #16A085 ;
}
.important{
  font-family: fantasy;
}
.unimportant{
background-color: lightblue; 
}
